<form action="/pirate" method= "post"> 
<label for="pirate">Pirate</label> 
<input type="integer" name="weight"><br> 
<input type="integer" name="height"><br> 
<label for="ship">Ship</label> 
<input type="text" name="type"><br> 
<input type="text" name="booty"><br> 
<input type="submit"> 
</form>
